<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <title>Add New Entries</title>
</head>
<body>
    <h1>Add a new entry to {{blogtitle}}</h1>
    <p>Username: {{ uname }}</p>
    
    <br>
    
    <form action="/logout" method="post">
        <button type="submit">Log Out</button>
    </form>
    
    <br>
    
    <form action="/" method="get">
        <button type="submit">Return Home</button>
    </form>
    
    <br>
    
    <form method="post">
        <input type="text" id="entryTitle" placeholder = "Entry Title" name="entryTitle" required>
        <br>
        <br>
        <textarea id="entryContent" name="entryContent" required></textarea>
        <br>
        <button type="submit">Add Entry</button>
    </form>
</body>
</html>