<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <title>Blog Home</title>
</head>
<body>
    <h1>Welcome to the Blog by Team Made-In-Nigeria</h1>

    <form action="/signup" method="get">
        <label>Don't have an account? Sign up:</label>
        <button type="submit">Sign Up</button>
    </form>
    
    <br>
    
    <form action="/login" method="get">
        <label>Have an account?</label>
        <button type="submit">Log in</button>
    </form>
    
    <br>
    
    <form action="/view" method="get">
        <label>View all blogs:</label>
        <button type="submit">All blogs</button>
    </form>
</body>
</html>