<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <title>View Blogs</title>
</head>
<body>
    <form action="/" method="get">
        <button type="submit">Return Home</button>
    </form>
    <h1>Viewing Page</h1>
    <h2>Blog Entries:</h2>

    {% if entries|length > 0 %}
        <ul>
            {% for i in entries %}
                <li>
                    <strong>Entry {{ i[0] }} - {{i[1]}}: <br></strong> {{ i[2] }}
                </li>
                {% if edit %}
                    <form method="POST">
                        <button type="submit" name="entryID" value = "{{ i[0]}}">Edit</button>
                    </form>
                {% endif %}
            {% endfor %}
            {% if edit %}
                <form method="get" action="/addEntry" >
                    <button type="submit">Submit a New Entry</button>
                </form>
            {% endif %}
        </ul>
    {% else %}
        <p>No entries yet.</p>
        {% if edit %}
                <form method="get" action="/addEntry" >
                    <button type="submit">Submit a New Entry</button>
                </form>
        {% endif %}
    {% endif %}

</body>
</html>